/*
//
// CSS file for Assignment 2
// Jillian Buttecali
//
*/
html, body, div, p, h1, h2, h3, h4, h5, h6, span {
  padding: 0px;
  margin: 0px;
  border: 0px;
  font-size: 100%;
  vertical-align: baseline;
}
