// CSS file for Assignment #2
// Jillian Buttecali

// styles requested from the rubric
a [href^='mailto'] {
  background: url(images/email.png) no-repeat 0 3px;
  padding-left: 1em;
}
a [href^='tel'] {
  background: url(images/call.png) no-repeat 0 3px;
  padding-left: 1em;
}

html, body, div, p, h1, h2, h3, h4, h5, h6, span {
  
}

// my own styles for the assignment
