// CSS file for Assignment #2
// Jillian Buttecali

// styles requested from the rubric
a [href^='mailto'] {
  background: url(images/email.png) no-repeat 0 3px;
  padding-left: 1em;
}
a [href^='tel'] {
  background: url(images/call.png) no-repeat 0 3px;
  padding-left: 1em;
}

// my own styles for the assignment
